body {
    width:500px;
    margin:20 auto;
    background:red;

}

ul li {
    margin:5px;
    background: black;
    color:rgb(240, 229, 229);
    text-align:center;
}

div {
    background: green;
    border:1px solid blue;
}

p {
    font-size: 1.2rem;
}